* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background: linear-gradient(to right, #471a94, #6a3cbb, #8153d7, #f88f1f);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar img {
    height: 75px;
    width: auto;
    position: relative;
    top:10px;
}

.navbar .nav-title {
    position: relative;
    left:530px;
    bottom:15px;
    font-size: 23px;
    font-weight: 600;
    color: white;
}

.nav-title2 {
    position: relative;
    left:360px;
    top:15px;
    font-size: 12px;
    font-weight: 500;
    color: #6a3cbb;
    border: 0.5px solid white;
    border-radius: 5px;
    background-color: transparent;
}

.nav-title3 {
    position: relative;
    right:80px;
    top:15px;
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.section1 {
    display: flex;
    flex-direction: row;
    gap:20px;
    position: relative;
    top: 120px;
    z-index: 2;
  }

  .container-1 {
    width: 350px;
    height:450px;
    background: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap:20px;
  }

  .IMGOBAT {
    height:140px;
    width:180px;
  }

  .container-1 .Title {
    font-weight: 800;
    font-size: 18px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-1 .Harga {
    font-weight: 700;
    font-size: 15px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  #quantity {
    width:30px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background: #f88f1f;
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 7px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
  
  .btn:hover {
    background-color: #07b90d;
  }

  .container-2 {
    width: 350px;
    height:450px;
    background: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap:20px;
  }

  .container-2 .Title {
    font-weight: 800;
    font-size: 18px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-2 .Harga {
    font-weight: 700;
    font-size: 15px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-3 {
    width: 350px;
    height:450px;
    background: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap:20px;
  }

  .container-3 .Title {
    font-weight: 800;
    font-size: 18px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-3 .Harga {
    font-weight: 700;
    font-size: 15px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .section2 {
    display: flex;
    flex-direction: row;
    gap:20px;
    position: relative;
    top:140px;
    z-index: 2;
  }

  .container-4 {
    width: 350px;
    height:450px;
    background: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap:20px;
  }

  .container-4 .Title {
    font-weight: 800;
    font-size: 18px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-4 .Harga {
    font-weight: 700;
    font-size: 15px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  #quantity {
    width:30px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background: #f88f1f;
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 7px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
  
  .btn:hover {
    background-color: #07b90d;
  }

  .container-5 {
    width: 350px;
    height:450px;
    background: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap:20px;
  }

  .container-5 .Title {
    font-weight: 800;
    font-size: 18px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-5 .Harga {
    font-weight: 700;
    font-size: 15px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-6 {
    width: 350px;
    height:450px;
    background: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap:20px;
  }

  .container-6 .Title {
    font-weight: 800;
    font-size: 18px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-6 .Harga {
    font-weight: 700;
    font-size: 15px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .section3 {
    display: flex;
    flex-direction: row;
    gap:20px;
    position: relative;
    top: 160px;
    z-index: 2;
  }

  .container-7 {
    width: 350px;
    height:450px;
    background: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap:20px;
  }

  .container-7 .Title {
    font-weight: 800;
    font-size: 18px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-7 .Harga {
    font-weight: 700;
    font-size: 15px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  #quantity {
    width:30px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background: #f88f1f;
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 7px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
  
  .btn:hover {
    background-color: #07b90d;
  }

  .container-8 {
    width: 350px;
    height:450px;
    background: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap:20px;
  }

  .container-8 .Title {
    font-weight: 800;
    font-size: 18px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-8 .Harga {
    font-weight: 700;
    font-size: 15px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-9 {
    width: 350px;
    height:450px;
    background: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap:20px;
  }

  .container-9 .Title {
    font-weight: 800;
    font-size: 18px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-9 .Harga {
    font-weight: 700;
    font-size: 15px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .section4 {
    display: flex;
    flex-direction: row;
    gap:20px;
    position: relative;
    top: 180px;
    z-index: 2;
  }

  .container-10 {
    width: 350px;
    height:450px;
    background: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap:20px;
  }

  .container-10 .Title {
    font-weight: 800;
    font-size: 18px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-10 .Harga {
    font-weight: 700;
    font-size: 15px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  #quantity {
    width:30px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background: #f88f1f;
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 7px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
  
  .btn:hover {
    background-color: #07b90d;
  }

  .container-11 {
    width: 350px;
    height:450px;
    background: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap:20px;
  }

  .container-11 .Title {
    font-weight: 800;
    font-size: 18px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-11 .Harga {
    font-weight: 700;
    font-size: 15px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-12 {
    width: 350px;
    height:450px;
    background: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap:20px;
  }

  .container-12 .Title {
    font-weight: 800;
    font-size: 18px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-12 .Harga {
    font-weight: 700;
    font-size: 15px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .section5 {
    display: flex;
    flex-direction: row;
    gap:20px;
    position: relative;
    top: 200px;
    z-index: 2;
  }

  .container-13 {
    width: 350px;
    height:450px;
    background: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap:20px;
  }

  .container-13 .Title {
    font-weight: 800;
    font-size: 18px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-13 .Harga {
    font-weight: 700;
    font-size: 15px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  #quantity {
    width:30px;
  }

  .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background: #f88f1f;
    box-shadow: 0px 0.5px 0.5px #EFEFEF, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
    border-radius: 7px;
    border: 0;
    outline: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
  
  .btn:hover {
    background-color: #07b90d;
  }

  .container-14 {
    width: 350px;
    height:450px;
    background: white;
    box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap:20px;
  }

  .container-14 .Title {
    font-weight: 800;
    font-size: 18px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .container-14 .Harga {
    font-weight: 700;
    font-size: 15px;
    color: #2B2B2F;
    font-family: 'Poppins';
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Awalnya disembunyikan */
    z-index: 999;
}

  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    z-index: 1000;
    font-family: 'Poppins';
}

.popup-content {
    width:500px;
    height:500px;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.close-btn1 {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn1:focus {
  outline: none;
}

.btnbuy {
  height: 40px;
  width:70px;
  font-family: 'Poppins';
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background: #f88f1f;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}

.btnbuy:hover {
  background: #07b90d;;
}

.popup2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  font-family: 'Poppins', sans-serif;
}

.popup-content2 {
  display: flex;
  flex-direction: column;
  width: 500px; /* Sesuaikan ukuran popup */
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: left; /* Supaya teks dalam popup rata kiri */
}

.content-wrapper {
  display: flex;
  gap: 20px; /* Jarak antara 2 kolom */
}

.left-content {
  flex: 1; /* Kolom kiri lebih kecil */
}

.right-content {
  flex: 1.5; /* Kolom kanan lebih besar */
}

.formPembelian {
  display: flex;
  flex-direction: column;
}

.formPembelian label {
  font-weight: bold;
  margin-top: 10px;
}

.formPembelian input,
.formPembelian textarea,
.formPembelian select {
  padding: 8px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px; /* Memberi jarak antar elemen form */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

/* Tombol Close di pojok kanan atas */
.close-btn2 {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paybtn {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.paybtn:hover {
  background: #07b90d;
}
